.container {
	width: 69%;
	height: 90vh;
	float: left;
	display: flex;
	position: relative;
}

.text_wrap {
	margin: auto;
	width: 60%;
	padding: 40px;
	font-size: 1.4em;
	align-content: center;
}

.blur {
	color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.highlight {
	background: #B8E986;
}
